body > div{
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
}
body {
    background-color: #FFF7ED;
    font-family: 'Inter Variable', sans-serif;
}

.activeLink {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}