.navList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF7ED;
    padding: 16px;
    height: 100%;
}
.navLinks {
    display: flex;
    align-items: center;
    gap: 12px;
}
a{
    color: #000;
    cursor: pointer;
}

h1{
    font-size: 26px;
    font-weight: 900;
}

nav {
    height: 100%;
}