.navList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF7ED;
    padding: 16px;
    height: 100%;
}
.activeLink{
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}
.navLinks {
    display: flex;
    align-items: center;
    gap: 12px;
}
a{
    color: #000;
    cursor: pointer;
}

.navLinks a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

.logo:hover {
    text-decoration: none;
}

h1{
    font-size: 26px;
    font-weight: 900;
}

nav {
    height: 100%;
}